* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Georgia', serif;
    height: 100vh;
    background: #f5f5f5;
}

/* COVER */
.cover {
    position: fixed;
    inset: 0;
    background: linear-gradient(to bottom, #f1e8d9, #e0c9a6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.cover-card {
    background: white;
    padding: 40px 25px;
    text-align: center;
    border-radius: 20px;
    animation: float 2s infinite ease-in-out;
}

.cover-card button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background: #b08d57;
    color: white;
    font-size: 14px;
}

.small {
    letter-spacing: 2px;
    font-size: 12px;
    color: #888;
}

.nama-pengantin {
    color: #b08d57;
    margin: 10px 0;
}

/* ISI */
.container {
    height: 100vh;
    padding: 20px;
    text-align: center;
    background: linear-gradient(to bottom, #ffffff, #f2e7d5);
}

.hidden {
    display: none;
}

.slider {
    width: 100%;
    height: 55vh;
    margin: 20px 0;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.ucapan {
    font-size: 14px;
    color: #555;
    line-height: 1.7;
}

/* FONT ARAB */
.arab {
    font-family: 'Amiri', serif;
    font-size: 16px;
    color: #8a6d3b;
}

.pengirim {
    font-size: 13px;
    color: #777;
    font-style: italic;
}

/* ANIMASI TEKS */
.fade-in {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeUp 2s ease forwards;
    animation-delay: 0.5s;
}

/* ANIMASI */
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}
